.calc {
    background-image: url("tlo.jpg");
    height: 384px;
    width: 350px;  
    box-sizing: border-box;
}
.wynik{
    border-style: solid;
    border-width: bold;
    width: 350px; 
    height: 50px;
    color: white;
}
.rows{
    width:350px;
    height: 75px 
}
#wynik{
    color: rgba(137, 79, 106, 0.66);
    font-family: "impact";
    font-size: 30px;
    text-shadow: 2px 2px rgba(104, 94, 94, 0.28);
    position: absolute;
    top: -12px;
    left: 30px;
}
.button {
    background-color: transparent;
    color: #FFFFFF;
    border: none;
    text-align: center;
    font-size: 21px;
    font-family: "impact";
    font-weight: bold;
    text-shadow: 2px 2px rgba(132, 127, 127, 0.44);
    
}
.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

#button1 {
    padding: 15px 110px;
    display: block;
    margin: 0 auto; /* auto left/right margins */
}
#button2 {
    padding: 15px 46px;
    display: inline;
    margin: 5px 5px; /* auto left/right margins */
}